a {        
    color: #1c8dc7;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    background-color: #c2c2c2;
    border: 1px solid #ffffff; 
    display: block;
}

a:hover {
    color: #7cc9f0;
    background-color: #cccccc;
}

a:active {
    color: #7cc9f0;
    background-color: #555555;
    text-decoration: underline;
}

a:target {
    color: #f59805;
    background-color: #555555;
    text-decoration: underline;
}

a:first-letter {
    color: #333333;            
}

a:active:first-letter, a:target:first-letter {
    color: #eeeeee;            
}

a {        
    color: #1c8dc7;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    background-color: #987e17;
    border: 1px solid #ffffff; 
    display: block;
    line-height: 105%;
    
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;                
}